@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
body {
    background: linear-gradient(152.23deg, #D78B59 6.77%, #595FEB 47.79%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 100vh;
}